{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Modification campus{% endblock %}

{% block body %}
    <h3>Modification <span class="titre_second">de la ville de {{ currentSite.name }}</span></h3>

    <table>
        <tr>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
        {{ form_start(siteListTypeUpdate) }}
        <tr>
            <td>{{ form_row(siteListTypeUpdate.name, {'value' : currentSite.name}) }}</td>
            <td>
                <button type="submit">Valider</button>
                -
                <a href="{{ path('admin_site_list') }}">
                    <button>Annuler</button>
                </a>
            </td>
        </tr>
        {{ form_end(siteListTypeUpdate) }}
    </table>
    <a href="{{ path('admin_site_list') }}"><button class="btn" type="button">Annuler</button></a>
{% endblock %}