{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} | Inscription{% endblock %}

{% block body %}
    <h2>S'inscrire</h2>

    {{ form_start(registrationForm) }}

    {{ form_row(registrationForm.nickname) }}
    {{ form_row(registrationForm.firstname) }}
    {{ form_row(registrationForm.lastname) }}
    {{ form_row(registrationForm.phoneNumber) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword) }}
    {{ form_row(registrationForm.campus) }}

    <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    <form method="post" action="{{ path('app_login') }}">
        <button type="submit">Retour</button>
    </form>
{% endblock %}