{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Mot de passe oublié{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h3>Réinitialisation <span class="titre_second">du mot de passe</span></h3>

    {{ form_start(requestForm) }}
    {{ form_row(requestForm.email) }}

    <div class="btn_container">
        <button class="btn btn-primary">Envoyer</button>

        <div>
            <small>
                Vous recevrez un mail pour réinitialiser votre mot de passe.
            </small>
        </div>
    </div>
    {{ form_end(requestForm) }}
{% endblock %}
