{% extends 'base.html.twig' %}

{% block title %}
    Annuler une sortie | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>Annuler une sortie</h2>

    {{ form_start(tripForm) }}
    {{ form_row(tripForm.name) }}
    {{ form_row(tripForm.dateStartTime) }}
    {{ form_row(tripForm.campusOrganizer) }}
    {{ form_row(tripForm.place) }}
    {{ form_row(tripForm.tripInfos) }}
    {{ form_row(tripForm.supprimer_la_sortie) }}
    {{ form_end(tripForm) }}

{% endblock %}


