{% extends 'base.html.twig' %}

{% block title %}
    Créer une sortie | {{ parent() }}
{% endblock %}

{% block body %}

    <h2>Créer une sortie</h2>

    {{ form_start(tripForm, {attr: {'novalidate': 'novalidate'}}) }}

    {{ form_row(tripForm.name) }}
    {{ form_row(tripForm.dateStartTime) }}
    {{ form_row(tripForm.duration) }}
    {{ form_row(tripForm.registrationDeadline) }}
    {{ form_row(tripForm.maxRegistrations) }}
    {{ form_row(tripForm.tripInfos) }}
    {{ form_row(tripForm.place) }}
    {{ form_row(tripForm.enregistrer) }}
    {{ form_row(tripForm.publier_la_sortie) }}
    {{ form_row(tripForm.supprimer_la_sortie) }}

    {{ form_end(tripForm) }}
    {#
    <a href="{{ path('sortie_liste') }}" title="Annuler la création de sortie">
        <button>Annuler</button>
    </a>
    #}
    <form method="post" action="{{ path('main_index') }}">
        <button type="submit">Annuler</button>
    </form>
    
{% endblock %}