{% extends 'base.html.twig' %}

{% block title %}
    {{ parent()}} | Détails de la sortie
{% endblock %}

{% block body %}
    <section>
        <h3>Détails <span class="titre_second">de la sortie</span></h3>

        <table class="th-align-left">
            <tr>
                <th>Nom de la sortie</th>
                <td>{{ trip.name }}</td>
            </tr>
            <tr>
                <th>Campus</th>
                <td>{{ trip.campusOrganizer.name }}</td>
            </tr>
            <tr>
                <th>Date et heure de la sortie </th>
                <td>{{ trip.dateStartTime|date('d/m/Y H:i') }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ trip.place.name }}</td>
            </tr>
            <tr>
                <th>Date limite d'inscription</th>
                <td>{{ trip.registrationDeadline|date('d/m/Y') }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td>{{ trip.place.street }}</td>
            </tr>
            <tr>
                <th>Nombres de places restantes</th>
                <td>{{ trip.maxRegistrations - trip.usersRegistered|length }}/{{ trip.maxRegistrations }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ trip.place.city.name }}, {{ trip.place.city.zipCode }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ trip.duration|date('H:i') }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ (trip.place.latitude)? trip.place.latitude : 'non renseignée' }}</td>
            </tr>
            <tr>
                <th>Description et infos</th>
                <td>{{ (trip.tripInfos)? trip.tripInfos : 'Aucune infos renseignée' }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ (trip.place.longitude)? trip.place.longitude : 'non renseignée' }}</td>
            </tr>
        </table>

        <br><hr><br>

        <table>
            <thead><h3>Liste <span class="titre_second">des participants</span></h3></thead>
            <tr>
                <th>Pseudo</th>
                <th>Nom</th>
            </tr>
            {% for user in trip.usersRegistered %}
                <tr style="{% if app.user == user %}background-color: orangered{% endif %}">
                    <td><a href="{{ path('user_show', {'id': user.id}) }}">{{ user.nickname }}</a></td>
                    <td><a href="{{ path('user_show', {'id': user.id}) }}">{{ user.firstname }} {{ user.lastname | upper }}</a></td>
                </tr>
            {% endfor %}
        </table>

    </section>
{% endblock %}
