<section>
    {{ form_start(searchForm) }}
    {{ form_widget(searchForm) }}
    <button>Rechercher</button>
    {{ form_end(searchForm) }}
</section>

<section>
    {% if trips|length > 0 %}
        <table>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            {% for trip in trips %}
                <tr>
                    <td>
                        <a href="{{ path('sortie_details', {'id': trip.id}) }}"
                           title="Sortie: {{ trip.name }}">
                            {{ trip.name }}
                        </a>
                    </td>
                    <td>{{ trip.dateStartTime|date(
                            "d/m/Y H:i"
                        ) }}</td>
                    <td>{{ trip.registrationDeadline|date(
                            "d/m/Y"
                        ) }}</td>
                    <td>{{ trip.usersRegistered|length }}/{{ trip.maxRegistrations }}</td>
                    <td>{{ trip.state.wording }}</td>
                    <td>
                        {% for userRegistered in trip.usersRegistered %}
                            {% if userRegistered.id == user.id %}
                                X
                            {% endif %}
                        {% endfor %}
                    </td>
                    {% if trip.organizer.id == app.user.id %}
                    <td>
                        <a href="{{ path('user_profile', {'id' : app.user.id}) }}">{{ trip.organizer.firstname }} {{ trip.organizer.lastname | first }}
                            .</a></td>
                    {% else %}
                    <td>
                        <a href="{{ path('user_show', {'id' : trip.organizer.id}) }}">{{ trip.organizer.firstname }} {{ trip.organizer.lastname | first }}
                            .</a></td>
                    <td>
                        {% endif %}
                        {# DEBUT DE LA COLONNE ACTIONS #}

                        {% if trip.organizer.id == user.id and trip.state.id == 1 %}
                            <a href="{{ path('sortie_modifier', {'id': trip.id }) }}" title="Modifier la sortie">
                                Modifier
                            </a>
                        {% else %}
                            <a href="{{ path('sortie_details', {'id': trip.id}) }}"
                               title="Sortie: {{ trip.name }}">
                                Afficher
                            </a>
                        {% endif %}

                        {% if date(trip.dateStartTime) > date() %}

                            <span> - </span>

                            {% if trip.organizer.id == user.id %}

                                {% if trip.state.id == 1 %}
                                    <a href="#" title="Publier la sortie">
                                        Publier
                                    </a>
                                {% elseif trip.state.id == 2 %}
                                    <a href="#" title="Annuler la sortie">
                                        Annuler
                                    </a>
                                {% endif %}

                            {% else %}

                                {% if trip.registrationDeadline > "now" %}
                                    {# Inscription ou désinscription #}
                                    {% set canRegister = true %}
                                    {% for userRegistered in trip.usersRegistered %}
                                        {% if userRegistered.id == user.id %}
                                            {% set canRegister = false %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if canRegister %}
                                        <a href="{{ path('sortie_sInscrire',{id: trip.id}) }}" title="S'inscrire">
                                            S'inscrire
                                        </a>
                                    {% else %}
                                        <a href="{{ path('sortie_seDesister',{id: trip.id}) }}" title="Se désister">
                                            Se désister
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}

                        {% endif %}

                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        Pas de sortie
    {% endif %}
</section>

<form method="post" action="{{ path('sortie_creer') }}">
    <button type="submit">Créer une sortie</button>
</form>