{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Liste villes{% endblock %}

{% block body %}
    <h3>Gérer <span class="titre_second">les villes</span></h3>

    <div>
        {{ form_start(searchForm) }}

        <div class="btn_container">
        {{ form_row(searchForm.city) }}
        <button type="submit" class="btn">Rechercher</button>
        </div>

        {{ form_end(searchForm) }}
    </div>

    <table>
        <tr>
            <th>Ville</th>
            <th>Code postal</th>
            <th>Actions</th>
        </tr>
            {% for city in cityList %}
                <tr>
                    <td>{{ city.name }}</td>
                    <td>{{ city.zipCode }}</td>
                    <td><a href="{{ path('city_update', {'id': city.id}) }}">
                            <button>Modifier</button>
                        </a> - <a
                                href="{{ path('city_delete', {'id' : city.id}) }}">
                            <button>Supprimer</button>
                        </a></td>
                </tr>
            {% endfor %}

        {{ form_start(cityListType) }}
        <tr>
            <td>{{ form_row(cityListType.name) }}</td>
            <td>{{ form_row(cityListType.zipCode) }}</td>
            <td>
                <button type="submit">Ajouter</button>
            </td>
        </tr>
        {{ form_end(cityListType) }}

    </table>
{% endblock %}