{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Modification profil{% endblock %}

{% block body %}
    <h3>Modification <span class="titre_second"> du profil de {{ currentUser.nickname }}</span></h3>

    {{ form_start(profileModifierType) }}

    <div class="label-align">
    {{ form_row(profileModifierType.nickname, {'value' : currentUser.nickname}) }}
    {{ form_row(profileModifierType.firstname, {'value' : currentUser.firstname}) }}
    {{ form_row(profileModifierType.lastname, {'value' : currentUser.lastname}) }}
    {{ form_row(profileModifierType.phoneNumber, {'value' : currentUser.phoneNumber}) }}
{#    {{ form_row(profileModifierType.email, {'value' : currentUser.email}) }}#}
    {{ form_row(profileModifierType.plainPassword) }}

    </div>
    <div class="btn_container">
    <button type="submit" class="btn">Enregistrer</button>

    {{ form_end(profileModifierType) }}

    <form method="post" action="{{ path('user_profile', {'id': app.user.id}) }}">
        <button class="btn" type="submit">Annuler</button>
    </form>
    </div>

{% endblock %}