{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | {{ user.nickname }}{% endblock %}

{% block body %}
    <h2>Profil de {{ user.nickname }}</h2>
    {% if app.user.img == true %}
        <div>
            <img class="img-user" src="{{ asset('img_profile/' ~ user.img) }}" alt="Image de profil">
        </div>
    {% else %}
        <div style="width: 100px; height: 100px; border: 1px solid white;">
            <p>Pas d'image</p>
        </div>
    {% endif %}
    <ul>
        <li>Prénom : {{ user.firstname }}</li>
        <li>Nom : {{ user.lastname }}</li>
        <li>Téléphone : {{ user.phoneNumber }}</li>
        <li>Email : {{ user.email }}</li>
        <li>Campus : {{ user.campus.name }}</li>
    </ul>
    <a href="{{ path('main_index') }}">
        <button class="btn">Retour</button>
    </a>
{% endblock %}